<head>
<title>FileZilla Server Legal stuff</title>
</head>

<p align="center"><b><u>FileZilla Server version 0.9.46</u></b></p>
<p align="center">Copyright 2001-2014<br>
by <a href="mailto:tim.kosse@filezilla-project.org"> Tim Kosse</a><br>
<a href="http://sourceforge.net/projects/filezilla/">http://filezilla-project.org/</a></p>
<p align="left"><u><b>Copyright Notice:</b></u></p>
<p align="left">This program is licensed under the <a href="GPL.html">GPL</a>.</p>
<p align="left">FileZilla Server uses <a href="http://www.openssl.org">OpenSSL</a> to handle SSL/TLS connections. Permission is granted to link FileZilla Server with OpenSSL</p>
<p align="left"><u><b>Disclaimer:</b></u></p>
<p>THE SOFTWARE IS PROVIDED &quot;AS IS&quot;, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE COPYRIGHT
HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. </p>
<p align="left">&nbsp;</p>